/*Reset do CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000080;
    background-size: auto 100vh;
    font-family: Arial;
    color: white;
    max-height: 100vh;
    min-width: 100vh;
    font-size: 12px;
}

/*Tela com menos 400px fica com estiloda media abaixo*/
@media (min-width: 400px){
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px){
    body {
        font-size: 18px;
    }
}

@media (min-width: 1000px){
    body {
        font-size: 18px;
        background-image: none;
        background-color: #191970;
    }
}


header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    transform: scale(0.5) translateY(50vh);
    opacity: 0;
    
    animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {

    100%{
        transform: scale(1.2) translateY(0);
        opacity: 1;
    }
}

  
a{
    text-decoration: none;
    color: #000080;
}
  
a:hover{
    text-decoration: none;
}
  
.menu{
    background-color: white;
    /*border-radius: 10px;*/
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu a{
    display: block;
    padding: 10px 20px;
    z-index: 1;
}

.menu a:hover{
    background-color: #000080;
    color: whitesmoke;
    transition: background-color 1s, color 1s;
}
  
.menu li{
    list-style: none;
    color: black;
    padding: 5px;
}
  
.menu ul{
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width: 760px){
    

}
  
.site-title, .site-subtitle {
    text-align: center;
    color: whitesmoke;
}

.site-title{
    font-size: 3em;
    font-family:'Roboto', sans-serif;
}
  
.site-subtitle {
    font-style: Italic; 
    font-family:'Roboto', sans-serif;
}

.sobre,
.contato,
.portfolio {
    padding: 2em;
    min-height: 100vh;
    font-size: 2em;
}

@media (min-width: 1200px){
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
    }
}

.sobre p{
    color: whitesmoke;
    margin-bottom: 1.5em;
    text-indent: 1.4em;
    text-align: justify;
}

.sobre .avatar img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    /* clip-path: ellipse(47% 47% at 51% 48%); */
}

.sobre .avatar {
    float: right;
    margin-left: 2em;
}

.sobre li{
    padding: 0.5em;
}

.sobre h2,
.contato h2,
.portfolio h2{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
    justify-content: space-between;
}


@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
    }
}


@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns:repeat(3, 260px);
        align-content: center;
        justify-content: center; 
        height: calc(100vh- 8em - 48em);
    }
}

.portfolio figure{
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 100%;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
}

/* .img-portfolio:hover {
    transform: scale(1.2) ;
} */
.flip-card {
    perspective: 500px;
}
.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    z-index: 1;
    padding: 100px;
}

.flip-card:hover .card{
    transform: rotateY(180deg);
}

.card-back {
    background-color: whitesmoke;
    height: 180px;
    width: 110%;
    font-size: 1.6rem;
    transform: rotateY(180deg);
    color: black;
}

.card-front, 
.card-back {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
}

.contato .icons{
    text-align: center;
}

@media (min-width: 880px){
    .contato {
        margin-top:3em;
    }
}

.contato a{
    color: whitesmoke;
    font-size: 2em;
    transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 12px black;
}

.burguer {
    border: 0;
    background-color: transparent;
    color: #0594ec;
    display: none;
    font-size: 20px;
}

/*Menu haburguer*/
@media (max-width: 480px) {

    .burguer {
        display: block;
    }
    .menu {
        width: 100vh;
        padding: 15px;
    }

    .menu .container {
        background-color: #fff;
        position: fixed;
        box-shadow: 0 3px 5px rgba(241, 235, 235, 0.1);
        flex-direction: column;
        top: 60px;
        left: 10%;
        width: 80%;
        transform: translateX(120%);
        text-align: center;
        transition: transform 0.4s ease;
    }

    .menu .container.show {
        transform: translateX(0);
    }

    .portfolio .container{
        align-items: center;
    }
}