/*Reset do CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000080;
    background-size: auto 100vh;
    font-family: Arial;
    color: white;
    max-height: 100vh;
    min-width: 100vh;
    font-size: 12px;
}

/*Tela com menos 400px fica com estiloda media abaixo*/
@media (min-width: 400px){
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px){
    body {
        font-size: 18px;
    }
}

@media (min-width: 1000px){
    body {
        font-size: 18px;
        background-image: none;
        background-color: #191970;
    }
}


header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
    transform: scale(0.5) translateY(50vh);
    opacity: 0;
    
    animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {

    100%{
        transform: scale(1.2) translateY(0);
        opacity: 1;
    }
}
  
a{
    text-decoration: none;
    color: #000080;
}
  
a:hover{
    text-decoration: none;
}
  
.menu{
    background-color: white;
    /*border-radius: 10px;*/
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu a{
    display: block;
    padding: 10px 20px;
    z-index: 1;
}

.menu a:hover{
    background-color: #000080;
    color: whitesmoke;
    transition: background-color 1s, color 1s;
}
  
.menu li{
    list-style: none;
    color: black;
    padding: 5px;
}
  
.menu ul{
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 760px){
    .menu{
        position: fixed;
        background-color: whitesmoke;
        
    }
}
  
.site-title, .site-subtitle {
    text-align: center;
    color: whitesmoke;
}

.site-title{
    font-size: 3em;
    font-family:'Roboto', sans-serif;
}
  
.site-subtitle {
    font-style: Italic; 
    font-family:'Roboto', sans-serif;
}

.contato,
.portfolio {
    padding: 2em;
    min-height: 100vh;
    font-size: 2em;
}

.contato h2,
.portfolio h2{
    font-family: 'Courier New', Courier, monospace;
    color: whitesmoke;
}

.portfolio .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
    }
}


@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns:repeat(3, 260px);
        align-content: center;
        justify-content: center; 
        height: calc(100vh- 8em - 48em);
    }
}

.portfolio figure{
    text-align: center;
}

.img-portfolio {
    height: 180px;
    width: 240px;
    object-fit: cover;
    object-position: left bottom;
    transition: transform 500ms;
}

.img-portfolio:hover {
    transform: scale(1.2) ;
}

.contato .icons{
    text-align: center;
}

.contato a{
    color: whitesmoke;
    font-size: 2em;
    transition: text-shadow 1s;
}

.contato a:active,
.contato a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 12px black;
}